.card {
  border-radius: 10px;
  background: #c0c0c0;
  width: 100px;
  margin: 1rem 1.5rem 1rem 1.5rem;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.4), 0 5px 5px rgba(0, 0, 0, 0.4);
  padding: 8px;
  min-height: 150px;
  max-height: 200px;
}

.selectable-card {
  position: relative;
  height: 100%;
}

.checkbox {
  position: absolute;
  left: 0;
  top: 0;
}
